@import "./normalize.css";

.container {
  background: rgb(255, 255, 255);
  display: flex;
  height: 75vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.calc-body {
  width: 50%;
  height: 50vh;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 15px rgba(109, 109, 109, 0.567);
  display: block;
}

.calc-space {
  display: flex;
  width: 100%;
  height: 55vh;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgba(0, 0, 0, 0.926);
  transform: scale(0.9);
}

p {
  color: rgba(128, 128, 128, 0.685);
}

.slogan {
  display: block;
  width: 80%;
  text-align: center;
  background: rgb(255, 255, 255);
}

#display {
  height: 15vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 35vh;
  width: 100%;
  border: 0.5px solid rgba(154, 154, 154, 0.2);
}

.button {
  border: 0.5px solid rgba(154, 154, 154, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in-out;
}

#C {
  background: rgb(126, 11, 11);
  color: white;
}

#equals {
  background: grey;
  color: white;
}

.button:hover {
  color: white;
  background: black;
}

#C:hover {
  background: rgb(50, 1, 1);
}

#equals:hover {
  background: rgb(34, 34, 34);
}

@media screen and (max-width: 768px) {
  .calc-body {
    width: 85%;
    transition: 1s all ease-in-out;
  }

  h1 {
    transform: scale(0.75);
    transition: 0.2s all ease-in-out;
  }
}
